@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-3xl {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

@keyframes wave {
  0% {
      transform: scale(0.9);
  }
  50% {
      transform: scale(1);
  }
  100% {
      transform: scale(0.9);
  }
}

.animate-wave {
  animation: wave 0.8s ease-in-out forwards;
}
